.slide {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #f11676;
  font-family: "Caveat", cursive;
  font-size: 1em;
  height: 100vh;
}
.slide__container {
  width: 40vw;
  margin: 0 auto;
  position: relative;
}
img {
  width: 100%;
}
h1 {
  margin-top: 0;
  padding-top: 5%;
  text-align: center;
}
.slide__right,
.slide__left {
  position: absolute;
  top: 45%;
  width: auto;
  height: 80%;
}
.slide__right {
  right: -20%;
}
.slide__left {
  left: -20%;
}
.slide__right img,
.slide__left img {
  width: 30px;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .slide {
    font-size: 0.5em;
  }
  .slide__right img,
  .slide__left img {
    width: 20px;
    height: 50px;
  }
}
@media screen and (max-width: 320px) {
  .slide__right img,
  .slide__left img {
    width: 10px;
    height: 40px;
  }
}
